* {
    margin: 0;
}

html, body {
    height: 100%;
}


/* .page-wrap {
    min-height: 100%;
}

.page-wrap:after {
    display: block;
} */

body {
    font-family: 'Varela Round', sans-serif;
}

.header--home {
    background: #ff9e19;
    height: 60px;
    border-radius: 0 0 80px 80px;
}

.header--wilayah {
    background: #ff9e19;
    height: 60px;
    border-radius: 0;
}

.rencana-wisata {
    position: absolute;
    top: 60px;
    right: 0;
    width: 250px;
    height: 500px;
    border: 3px solid #ffc526;
    border-right: none;
}

.tempat-wisata {
    position: absolute;
    top: 60px;
    left: 0;
    width: 250px;
    height: 550px;
    border: 3px solid #ffc526;
    border-left: none;
}

.judul-rencana {
    width: 100%;
    height: 50px;
    background: #ffc526;
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}

.judul-tempat {
    width: 100%;
    height: 50px;
    background: #ffc526;
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}

.judul-penginapan {
    width: 100%;
    height: 50px;
    background: #ffc526;
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}

.isi-tempat {
    height: 250px;
    border-bottom: 3px solid #ffc526;
    margin-top: 10px;
}

.isi-tempat ul li {
    list-style: none;
}

.isi-tempat ul li a {
    color: #000;
    text-decoration: none;
}

.isi-tempat ul li a:hover {
    color: #ffc526;
    text-decoration: none;
}

.isi-rencana {
    margin-top: 10px;
}

.isi-rencana ul li {
    list-style: none;
}

.isi-rencana ul li a {
    color: #000;
    text-decoration: none;
}

.isi-rencana ul li a:hover {
    color: #ffc526;
    text-decoration: none;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content__site-quote {
	font-size: 60px;
	font-weight: bold;
	font-family: 'SciFly Sans', sans-serif;
}

.content__site-label {
    font-size: 12px;
}

.input-group {
    width: 300px;
}

.input-lg {
    
    border-radius: 0 40px;
    border: 3px solid #ffc526;
    
}

.input-lg:hover, .input-lg:active {
    border-color: #E0A60E;
    box-shadow: none;
}

.input-group-btn {
    position: absolute;
    right: 0;
    top: -15px;
    bottom: -10px;
}


.btn-info {
    font-size: 48px;
    background-color: #ffc526;
    border-color: #ffc526;
    width: 80px;
    height: 80px;
    border-radius: 50px 50px 50px 50px;
}

.btn-info:hover {
    background: #E0A60E;
    border-color: #E0A60E;
}

.glyphicon-search {
    font-size: 40px;
}



footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
	background: #ff9e19;
	height: 60px;
    border-radius: 80px 80px 0 0;
}

.site-footer {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 20px;
}